name: Continuous Integration

on:
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-18.04
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 16.13.0
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.0
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@1.1.3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Installing Dependencies
        run: yarn install
      - name: Running Unit Tests
        run: yarn test:cov
      - name: Running Lint
        run: yarn lint
